.trending_now {
  width: 579px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  background-color: #f2efff;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.trending_now p {
  margin: 0;
  font-size: 1rem;
}

.trending_now a {
  color: #d32f2f;
  text-decoration: none;
}
.trending_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending_content_mobile {
  display: none;
}

@media (max-width: 600px) {
  .trending_content {
    display: none;
  }

  .trending_content_mobile {
    display: block;
  }
}
